/*--------------------------------------------------------------
Hello, this is the BuddyPress Responsive theme stylesheet

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - iPad
	1.1 - Landscape
	1.2 - Portrait
2.0 - Smartphone
3.0 - iPhone
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.1 - iPad Landscape
--------------------------------------------------------------*/


@media only screen and (max-width: 1025px) {
	html {
		background-color: #eaeaea;
	}
	body {
		margin-top: -28px !important;
		background: #eaeaea;
	}
        
        /******LOADER GIFS****/
        #ajax-loader-check-box{
  top:30%;left:40%;

}
#ajax-loader-scroll{
    margin-left:43%;
  
}
#ajax-loader-popup{  position: fixed;
  top: 33.2%;
  left: 42.3%;

  }
        
.nav-brand-text{display:none;}
        img.navbar-logo {width:150px;}

        /********LOGIN******************/
         
	#wpadminbar {
		display: inline;
                height:50px !important;
                background:rgba(0,0,0,0.9);
                bottom: 0 !important;
                top: auto;
	}
        html #wpadminbar{
            z-index:999999 !important;
        }
        #wp-toolbar>ul>li{
            display: inline;
        }
        #wpadminbar ul#wp-admin-bar-root-default>li{
            margin-right:10px;
        }
        #wp-admin-bar-wp-logo{display:none !important;}
        /**************************/
        #scrollUp{
            left:20px !important
        }
        
        .mobile-search{display:inline;float:left;width:100%;margin:0 auto;}
        .mobile-search #Search_Term{width:100%;}
        .mobile-search .input-group{
            width:94%;
        }
        
        div#container{margin-top:33px !important;}
        .mobile-search{margin-top:20px !important;}
        .desktop-search{display:none;}
        
/*        img{max-width:250px;}*/
        .sidebar-single{
            display:none;
            border-color:#666666;            
        }
        .navbar-collapse #loaded_content{
                        margin: 150px auto !important;

        }
        
        .sidebar-mobile-shown {
            display: inline !important;
            width: 100%;
        }
        div#sidebar h3.widgettitle{
            margin:0 0 0 0;
            
        }
        #footer-widget-area div.item-options, div#sidebar div.item-options{
            margin:0 0 0 0;
            
        }
        #Login_Widget{
            width:240px;
            float:left;
        }
        .login_panel{
            float:left;
           margin-top:-18px;
        }
        #social_box{margin-right:3px;}
        .tagline{width:100%;margin-top:15px;}
        #login-text{
            display:none;
        }
        .single-container{width:100%;display:block !important;overflow:hidden;}
        #sidebar-toggle{
            display:inline; margin-top:8px !important;
            margin-left:8px;
        }
        .page-template-templates-pagespage-course-php #sidebar-toggle{
            margin-left:-10px !important;
        }
        #toggle-icon{
            margin-top: 1px;
        }
        #item-nav #Login_Widget ul li a{
            padding:3px !important;
        }
        #item-nav #Login_Widget {margin-left:0px;}
        
        #toggle-icon .btn{
            padding: 3px 9px;
        }
        
        #selected-options{float:left;width:100px;display:none;}
        .single-content{width:100% !important;}
        .sidebar-open{background:#eaeaea !important;}
        #main_search{width:100%;padding:10px;}
        .selected-options-padding{margin-top:4px !important;}
        .navbar > .container .navbar-brand{
            margin-top: 5px;
            margin-right: 8px;
            margin-left: -5px;
        }
       
	div#content .padder {
		margin-right: 0;
		width: auto;
		float: none;
		border: none;
	}
	div#sidebar {
		width: auto;
		float: none;
		margin: 2em 0 0 0;
		border: none;
	}
	ul#nav {
		padding-bottom: 1em;
	}
	ul#nav li {
		width: 46%;
		margin-bottom: 1em;
		margin-right: 0;
	}
	ul#nav li:nth-child(even) {
		margin-left: 3%;
		margin-right: 0;
	}
	ul#nav li a {
		-moz-border-radius: 0.25em;
		-webkit-border-radius: 0.25em;
		border-radius: 0.25em;
		margin-bottom: 0;
	}
	.wp-caption {
		width: 99% !important;
	}
	.entry {
		width: 100%;
	}
	.entry img {
		max-width: 100%;
		height: auto;
	}
	.wp-caption img {
		max-width: 99%;
		height: auto;
	}
	#footer-widgets {
		padding: 19px 10px;
	}
        li.home-menu .dropdown-menu a {
            color: #fff!important;
        }
        /*********LG**************************/
        
        .promo_slider_wrapper{
            width: 94%;
            margin-top: 5 !important;
            float: none !important;
            margin: 5px auto !important;
            display:none;
            
        }
        #lg-description{
            display:none;
        }
        .promo_slider_nav{
            background:rgba(0,0,0,0.4) !important;
            color:#ccc !important;
        }
        .promo_slider{
            height:200px !important;
        }
        .promo_slider .panel{height:200px !important;}
        .promo_slider img{max-height:200px !important;}
        .home-tag-line{width:auto !important;}
        #Members_Feed, #Featured_Content
        {
           margin-right: 0px !important;
           float:left;
           margin-top:0px !important;
           width:100%!important;
           border-radius:0px!important;
           border:none !important;
           
        }
        #Featured_Content{
            padding:0px !important;
            background:#fff!important;
            float:left;
        }
        #Featured_Content h2, #Featured_Content .ico{margin-left:6px;color:#222;}
        
        .activity-bookmark-image{width:160px !important;}
        
        .home-content .tab-post-favourite-group,.home-content .favourite-inspire-posts{
            width:100% !important;
            margin:0px !important;
            border-radius: 0px !important;
        }
        .home-content{margin-top:5px !important;}
        .lwa table{
            width:80% !important;
        }
        .lwa-modal{
            left: 0px !important;
            margin-left: 0px !important;
            width: 100% !important;
            border-radius: 0px;
        }
        #provatar{
            float:left;
        }
        .tagline{margin-left:0px;}
        .home-tag-line .widget_loginwithajaxwidget{
            
            margin-left:15px;
        }
                .mobile-menu-side #Login_Widget{display:inline;}
                #Members_Box #members-list li{
                    padding:5px;
                    
                }
                #Members_Box .vcard span.activity{
                    margin-left:-7px !important;
                }
        .profile-bookmark-image{max-width:100% !important; width:100%;}
        .profile-bookmark-item{
           height:auto;border-radius:0px !important; margin-bottom:10px;
           width:44.5%;
           margin:1%;
        }
        div.page ul, div.page ol, div.page dl, div.post ul, div.post ol, div.post dl{
            margin:0 0 0 0;
        }
        .profile-bookmark-image-box{height:auto;width:100% !important; }
        
        .navbar-nav{margin:0px -15px;}
        
        .navbar-nav > li > a .fa-2x, .home-page .navbar-nav > li > a .fa-2x {
        margin-top: -5px !important;
        }
        .sidebar-main{display:none;}
        .course-line, .travel-line, .inspire-line, .home-line, .graduatejob-line, .workexperience-line{
            top:49px;
            z-index: 500;
            height: 5px;
            position:fixed !important;
        }
        .navbar{position:fixed !important;}
        .navbar-inverse .navbar-nav > li > a{color:#fff}
        li.course-menu a{color:rgb(36, 176, 255) !important}
        
        div#page-container{overflow:visible;}
        /****************
        ***popout menu***
        http://www.youtube.com/watch?v=m52OcJhaaZU
        ****************/
         .mobile-menu{
         
             position:relative;
            left:0;
            
        }
        
         .mobile-menu-open {
            left:247px;
            
        }
        div.dir-search{margin-top:2px !important;}
        
        .mobile-menu-open #sidebar-left.mobile-menu-side,
        .mobile-menu-open #item-nav.mobile-menu-side{
            left:0;
        }
        
        .toggle-title{
            background: rgb(10, 221, 187);
            padding: 4px;
            margin-top: 2px;
            margin-bottom: -10px;
            color: #fff;
            border-radius: 4px;
            font-size:13px;
            display:inline;
        }
        #whats-new-options{
            overflow:auto;
        }
        #sidebar-left.mobile-menu-side,
         #item-nav.mobile-menu-side
        {
            background:#333; 
            position:fixed;
            color:#fff;
            top:0px;
            left:-248px;
            width:247px;
            height:100%;
            padding:10px;
            overflow-y:scroll;
            
        }
        .toggle-title .fa-2x{
            font-size:18px;
        }
        /**sidebar**/
        .mobile-profile-hub{
           float: left;
            display: inline;
            padding: 10px;
            border: 1px solid #666;
            margin-bottom: 10px;
            width: 100%;
        }
        
        
        .sidebar-single{
            background:#333;
        }
        .profile-button a{
            color:#f8f8f8;
            
        }
        div#sidebar{
            margin: 0 0 0 0;
        }
        
        .nav-hide {
            display:none !important;
        }
        div#sidebar h3.widgettitle{
        
        background:#555;
        }
        .mobile-menu-side, .mobile-menu{
             -webkit-transition: left 0.2s ease;
              -moz-transition: left 0.2s ease;
            transition: left 0.2s ease;
        }
        .sidebar-options{background:none; border-color:#3d3d3d !important;}
        .dtree a{color:#fff;}
        .filter-tab{min-height: 64px;}
        .active-filter h4 {
            color: #FFF;
        }
        .active-filter{background:#333!important;}
        .filter-tab{
           border-bottom: none;
            border: none;
            background: #3A3A3A;
            color: #616161;
        }
        
        .single-container #sidebar-toggle{
            margin-top:-5px !important;
        }
        .single-container #toggle-icon .btn{
            margin-top:-3px;
        }
        .single-container{
            overflow-x: hidden;
        }
       .sidebar-mobile-shown #admins-list li, .sidebar-mobile-shown #mods-list li, .sidebar-mobile-shown #members-list li, .sidebar-mobile-shown #groups-list li
       {
            background:#333 !important;
        }
        .sidebar-single .item{
            background:#333;
            color:#fff !important;
        }
        .sidebar-mobile-shown #members-list .item{
            margin-left:0px !important;
        }
        .sidebar-mobile-shown #bp_profile_search-2{
            margin-bottom:10px;
        }
         .sidebar-mobile-shown #recent-posts-2 ul{
            padding:5px;
        }
        
        #item-nav .sidebar-mobile-shown ul li a{
            padding:0px !important;
            color:#fff;
        }
         .vcard span.activity, div#message p{
            margin-left:-45px !important;
        }
        .my-messages div#message p{
            margin-left:-7px !important;
        }
        .sidebar-mobile-shown #admins-list li,  .sidebar-mobile-shown #mods-list li,  .sidebar-mobile-shown #members-list li, 
          .sidebar-mobile-shown #groups-list li{
            border-color:#666 !important;
        }
        .sidebar-mobile-shown #footer-widget-area div.item-options,   .sidebar-mobile-shown div#sidebar div.item-options{
            background:#666666;
        }
       .sidebar-mobile-shown #footer-widget-area div.item-options a,   .sidebar-mobile-shown div#sidebar div.item-options a{
            color:#eaeaea
        }
        .bookmark-post-icon{float:none !important;}
        /**************************/
        
       #header #sidebar-toggle{margin-top:60px !important;}
        #header{height:5px;margin-top:-10px;}
        #main_search{
            margin:0px auto !important;
        }
        
       
        .activepost {
        width: 435px !important;
        margin-left: -38px !important;
        background: #fff !important;
        }
        .activepost{margin-top:65px;}
        .activepost h2.posttitle a{color:#222}
        .main-content{width:100%;margin-bottom:20px;}
        
        .padder{padding:5px;}
        
/*        .post_image img{width:100%}*/
        .post_image{border-radius:0px !important; height:150px;}
        
        #loaded_content .entry {
		width: 100%;
                display:none !important;
	}
        .item .posttitle{max-height: none;}
        
        #loaded_content .item{
            background:#F7F7F7;
            border-radius:0px;
        }
        h2.pagetitle a, h2.posttitle a{color:#222;font-size:12px;}
        .posttitle{padding-bottom:5px !important;}
        
                    .type-graduate-job  .posttitle{
            background:#fff;
            border-bottom:1px solid orange;
            margin-bottom: 0px;
            }
            .type-work-experience-job  .posttitle{
            background:#fff;
            border-bottom:1px solid rgba(204, 0, 255, 1);
            margin-bottom: 0px;
            }
            .type-course .posttitle{
            background:#f7f7f7;
            border-bottom:1px solid cornflowerblue !important;
            margin-bottom: 0px;
            }
            .type-post .posttitle{
            background:#fff;
            border-bottom:1px solid rgb(10, 221, 187);
            margin-bottom: 0px;
            border-top:1px solid #ccc;
            }
             .type-travel-opportunities .posttitle{
            background:#fff;
            border-bottom:1px solid rgb(87, 189, 87);
            margin-bottom: 0px;
            border-top:1px solid #ccc;
            }
            .type-inspire-posts .posttitle{
            background:#fff;
            border-bottom:1px solid #FFCB05;
            margin-bottom: 0px;
            border-top:1px solid #ccc;
            }
            .post_image{margin-bottom:-1px;}
            .wpfp-link .btn{margin-top:5px !important;margin-left:-3px;}
            .close_box{border-radius:0px !important;}
            .isotope-item{width:48%;margin:2px;}
            .activity-type-tabs a{color:#f8f8f8 !important;}
            
            .nav > li{
                border:1px solid #333 !important;
            }
            
            /****************blog-single page*********************/
            #blog-single{
                margin:0px;
                padding:5px;
                border-radius:0px !important;
            }
            .single_datagrid {
                width: 100%;
                float: left;
                position: relative;
                margin: 0px!important;
                z-index: 5;
             }
             .single-container{
                 margin-top:56px;
             }
             .single_cont{
                 width:100%;
                 float:left;
             }
             /******archive*********/
             .archive_image{
                 max-width:100%;
             }
             .archive-list .entry{
                 visibility:visible !important;
                 display:inline !important;
             }
             #blog-archives .post-content{
               width: 100%;
               padding: 10px;
               border-radius: 0px;
               margin-bottom: 18px;
               border: 1px solid #eaeaea;
             }
             .archive-list{
                 padding-left:0px;
             }
             #single_youtube_player iframe{
                 max-width:100% !important;
             }
             iframe{
                 max-width:100%;
             }
             /******activity (main)*********/
             #Profile_Saved_Posts{display:none;}
             
             .activity-list .activity-content {
                margin-bottom: 5px;
                background: #fff;
                border-radius: 5px;
                padding: 10px;
                -webkit-box-shadow: 0 0 25px rgba(0,0,0,0.06);
                -moz-box-shadow: 0 0 25px rgba(0,0,0,0.06);
                box-shadow: 0 0 25px rgba(0,0,0,0.06);
                border: 1px solid #eaeaea;
                border-radius:0px;
                }
                #activity-stream {
                    margin-top: 15px;
                    width: 100%;
                    float: right;
                }
                ul.item-list.activity-list li{
                    width:100%;
                }
                ul#activity-stream.item-list li div.activity-avatar {
/*		display: none;*/
                }
                .activity-type-tabs ul li:first-child{
                    margin:0px !important;
                }
                .bpfb_form_container{
                    border-radius:0px !important;
                }
                div.item-list-tabs{
                    margin:5px -0px 5px 1px;
                }
       #whats-new-post-in-box{display:none;}
                form#whats-new-form #whats-new-submit {
                float: right;
                margin-top: 0px;
                margin-right: 5px;
                }
                /**************members********************/

               .edit-profile-form-area, #groups-list, #group-list, .members-item-list, #friend-list {
                    background: #fff;
                    border-radius: 0px;
                    padding: 10px;
                    float: left;
                    margin: 0px;
                    border: 1px solid #eaeaea;
                    box-shadow: 0 0 25px rgba(0,0,0,0.04);
                    width: 100% !important;
                    margin-top:10px;
                    }
                    .update{display:none}
                    #members-list .item{float:left}
                    
                    span.activity, div#message p{
                        margin-left:-7px;
                    }
                    ul.item-list li div.action{
                        right:0px;
                        position:absolute;
                    }
                    #admins-list li, #mods-list li, #members-list li,  #groups-list li{
                        background:#fff;
                        margin:3px;
                        margin-bottom:8px;
                        padding:20px;
                        border:1px solid #ccc;
                    }
               
                   .members-item-list, #friend-list, #groups-list, #group-list{
                        background:#f8f8f8;
                    }
                    /**************groups********************/

                     ul.item-list li div.action{
                        position:relative !important;
                        float:left;
                        padding-left:0px;
                        margin-left: 50px;
                        margin-top: -8px;
                    }
                    #members-list .action{
                        margin-left:-12px;
                        margin-top:-11px;
                    }
                    ul.item-list li div.item-desc{
                       margin: 0 0 0 0 !important;
                        float: left;
                    }
                    ul.item-list li div.meta{
                        margin-left:10px;
                        margin-top:0px;
                        color:#ccc;
                        
                    }
                    .group-button{
                        margin-left:-6px;
                    }
                    ul.item-list li div.item-title, ul.item-list li h4{
                        width:100%;
                    }
                    #groups-list li{
                        height: 100%;
                        float: left;
                        width: 100%;
                    }
                    /*******member profile***********/
                    div.item-list-tabs ul li.selected, div.item-list-tabs ul li.current{
                        margin:0 0 0 0!important;
                    }
                    #footer, #site-generator{overflow-x:hidden;display:none;}
                    div#item-header div#item-header-content{
                        margin-left:5px;
                        margin-top:0px;
                        float:left;
                    }
                    #friendship-button-1{
                        margin-bottom:-5px !important;
                    }
                    div#item-header div#item-meta{
                        margin-top:-0px !important
                    }
                    
                    .generic-button#post-mention{
                        margin-bottom:10px !important;
                    }
                    div#item-header{
                        padding:3px;
                    }
                    #item-header-avatar{
                        float:left;
                    }
                    .edit-buttons{
                        margin:0px;
                        border-radius: 0px;
                        padding: 5px;
                    }

                    ul.edit-buttons li.current a{
                        border-radius:0px !important;
                    }
                    ul.edit-buttons li{margin:0 0 0 0;}
                    /**activity**/
                    .single_content_profile .bpfb_form_container{
                        margin:0 0 0 0 !important;
                        width:100%;
                        border-radius:0px;
                        height:auto !important;
                    }
                    div.activity-meta{width:100%;}
                    div.activity-comments ul li > ul{
                        margin-left:0px;
                        padding-left:0px;
                    }
                    div.activity-comments form div.ac-reply-avatar{
                        display:none;
                    }
                    div.activity-comments form div.ac-reply-content{
                        margin-left:0px;
                        padding-left:0px;
                    }
                    div.activity-comments form.ac-form{
                        margin:0 0 15px 5px;
                        border-radius:0px;
                    }
                    .time-since{
                        color:#B4B3B3;
                    }
                    /**profile popout sidebar**/
                 
                    
                    #item-nav div.item-list-tabs#subnav{
                        background:#555;
                    }
                    
                    div.item-list-tabs#object-nav{
                        border-color:#666666 !important;
                    }
                    div.item-list-tabs ul li.selected a, div.item-list-tabs ul li.current a{
                        background:rgb(10, 221, 187) !important;
                        color:#fff !important;
                        border:none !important;
                    }
                    #subnav .current a{border:0px;}
                    #subnav.item-list-tabs ul li.selected a,#subnav.item-list-tabs ul li.current a{
                        background:rgb(25, 134, 117) !important;
                        color:#fff !important;
                    }
                    div.item-list-tabs{
                        background:#333;
                    }#sidebar-left.mobile-menu-sid
                    div.item-list-tabs ul li{
                        width:100%;
                        margin:0 0 0 0 !important;
                        padding:2px;
                    }
                    div.item-list-tabs ul{
                        border-top:0px !important;
                    }
                    #item-nav .single_content div.item-list-tabs{
                        border-color:#666666 !important;
                    }
                    .single_content div.item-list-tabs{
                        border-color:#666666;
                        border-bottom:1px solid #666666;
                    }
                    /**member profile: view**/
                    .profile .bp-widget {
                        float: left;
                        width: 100%;
                        min-height: 130px;
                        margin:5px 0 5px 0;
                        background: #fff;
                        padding: 15px;
                        border-radius: 0px;
                      }
                      div.profile h4{background:rgb(228, 228, 228)}
                      .profile-header{display:none;}
                      #members-order-select, #groups-order-select{
                         background: rgb(25, 134, 117) !important;
                        padding: 5px;
                        border-top: none;
                        border-bottom: 1px solid #d6d6d6;
                        border-right: 1px solid #d6d6d6;
                        border-left: 1px solid #d6d6d6;
                        margin: -6px 0px 5px 1px;
                        min-height: 25px;
                        overflow: hidden; 
                        color:#fff;
                        float:left;
                        width:100%;
                      }
                      #subnav.item-list-tabs ul li.selected a, #subnav.item-list-tabs ul li.current a{
                          padding-right:6px;
                      }
                      div#subnav ul{
                          padding: 0 0 0 0 !important;
                      }
                      #item-nav div.item-list-tabs ul li a, div.item-list-tabs ul li span{
                          padding-left:5px;
                          color:#f8f8f8;
                      }
                      div#subnav.item-list-tabs ul li.last{
                          padding:6px;
                      }
                      /**backpack**/
                      #loaded_content .post-favourite-group,  .tab-post-favourite-group{
                          width:100%!important;
                          margin:0px;
                          margin-bottom:25px;
                          border-radius:0px !important;
                          padding:15px;
                      }
                      /**members directory**/
                      div.item-list-tabs.groupsdir, div.item-list-tabs.membersdir{
                          margin:-5px 0px 5px 1px !important;
                      }
                      #groups_search_submit, #members_search_submit{
                          margin-top: 7px;
                        margin-bottom: 2px;
                      }
                      /**groups directory**/
                     .membersdir #members-order-select,.groupsdir #groups-order-select{
                          background:#333 !important;
                          color:#f8f8f8;
                          border:0px;
                          margin-left:1px !important;
                      }
                      .single_content_white .padder{margin-bottom:30px}
                      
                      /***normal page review form***/
                      #wpcr_div_2{
                          width:100% !important;
                      }
                      #wpcr_table_2{
                          width:100% !important;
                      }
                      #wpcr_commentform table, #wpcr_commentform td{
                      }
                      #wpcr_commentform textarea{
                          width:100% !important;
                      }
                      .wpcr_fl{
                         margin-top:8px;
                      }
                      .wpcr_fl label{margin-left:-6px;}
                      #wpcr_commentform small {
                        padding: 0 !important;
                        margin: 0 !important;
                        margin-top: -12px !important;
                        float: left;
                      }
                      
                      #item-nav div.item-list-tabs ul li {
                         float: left;
                         margin: 0.3em 0.6em;
                         background:none;
                         width:100%;
                      }
                      div.item-list-tabs#subnav{
                          margin-top:10px;
                          border-color:#888 !important;
                          border-top:1px solid #ccc;
                          background:#AEC3C4;
                          
                      }
                      div.item-list-tabs ul li:first-child{
/*                          margin: 0 0 0 0 !important;div.item-list-tabs ul li:first-child*/
                      }
                      #item-nav div.item-list-tabs ul li:first-child{
/*                          margin: 0.6em 0.6em 0.5em 0.6em !important;*/
                      }
                      #item-nav.single_content_profile #item-nav div.item-list-tabs ul li:first-child{
                          margin: 0.6em 0.6em 0.5em 0.6em !important;
                      }
                      #item-nav .current.selected a{
                          padding-left:22px !important;
                          
                      }
                      div#item-header{
                          border-bottom:1px solid #ccc;
                      }
                      
                      /**activity in group**/
                      .single_content #item-body form#whats-new-form{
                          width: 100%;
                        background: #fff;
                        padding: 10px;
                        
                      }
                      .activity-header a{
                          font-weight: normal !important;
                      }
/*                      .activity-header .img.avatar{
                          border:0px !important;
                      }*/
                        .feed{display:none}
                      #message.info.edit-profile-form-area{
                          padding:0px !important;
                      }
                      .sidebar-mobile-shown #members-list span.activity, div#message p{
                          margin-left:-7px;
                      }
                      
                      #item-body form#whats-new-form{
                          margin:0px;
                      }
                      .single-item.groups .bpfb_form_container{
                          padiding:0px;
                      }
.item .posttitle{margin-top:5px !important;}

}


/*--------------------------------------------------------------
1.2 - iPad Portrait
--------------------------------------------------------------*/
@media only screen and (max-width: 640px) {
    
     #blog-page .hentry, #loaded_content .hentry, #blog-page-standard .hentry, #loaded_content .hentry{
            width: 48% !important;
            margin: 0.9% 0.9% 0.9% 0.9%;
        }
            #header{height:5px;margin-top:32px;}

	div.dir-search {
		float: none;
		margin: 1.25em 0 0;
	}
             /******LOADER GIFS****/
        #ajax-loader-check-box{
  top:55%;

}
        
         div#container{margin-top:0px !important;}
        .mobile-search{margin-top:0px !important;}
        
	ul.item-list li div.action {
/*		padding-left: 64px;*/
/*		position: relative;*/
/*		right: auto;*/
		text-align: left;
		top: 1em;
		margin-bottom: 1.25em;
	}
	.wp-caption {
		width: 99% !important;
	}
	#loaded_content .entry {
		width: 100%;
                display:none;
	}
	.entry img {
		max-width: 100%;
		height: auto;
	}
	.wp-caption img {
		max-width: 99%;
		height: auto;
	}
	#footer-widget-area div.widget-area > ul {
		float: left;
		width: 100%;
	}
	#footer-widgets {
		padding: 19px 10px;
	}
         #loaded_content {
            margin: 0px auto;
        }
}


/*--------------------------------------------------------------
2.0 - Smartphone (any)
--------------------------------------------------------------*/
@media screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
/*	-webkit-text-size-adjust: none;*/
}

@media only screen and (max-width: 480px) {
	body {
		width: 100%;
		margin: 0;
	}
	#container {
		border: none;
	}
        .home-content{margin-top:-5px !important;}
         .mobile-search{margin-top:0px !important;}
/*	div.item-list-tabs ul li {
		float: none;
		margin: 0.3em 0.6em;
		background:none;
	}
	div.item-list-tabs ul li.last {
		float: none;
		margin: 0.3em 0.6em;
	}*/
        /******LOADER GIFS****/
        #ajax-loader-check-box{
  top:45%;left:26%;

}
#ajax-loader-scroll{
    margin-left:31.3%;
    margin-top:16px;
  
}
#ajax-loader-popup{  position: fixed;
  top: 33.2%;
  left: 40.3%;

  }

.mobile-search{width:94%;}

.profile-bookmark-item{
    width:80%;
    margin-left:10%;
}
.post-favourite-group-title{
    margin-left:42%;
}
.single-container{
    margin-top:55px !important;
}


.activepost{margin-top:0px;}

  #blog-page .hentry, #loaded_content .hentry, #blog-page-standard .hentry, #loaded_content .hentry{
           width: 48% !important;
            margin: 0.9% 0.9% 0.9% 0.9%;
        }
      
                .activepost{width:280px !important;margin-left:-2px !important;background: #fff !important;}


	div#subnav.item-list-tabs ul li.last {
		margin-top: 1em;
	}
	div.item-list-tabs ul li.selected,
	div.item-list-tabs ul li.current {
		margin: 0.3em 0.6em;
	}
	div.item-list-tabs ul li.selected a,
	div.item-list-tabs ul li.current a {
		background: #eee;
		font-weight: bold;
	}
	div.item-list-tabs {
		background: none;
	}
/*	div.item-list-tabs ul li:first-child {
		margin: 0.6em 0.6em 0.5em 0.6em;
	}*/
	div.item-list-tabs ul li a,
	div.item-list-tabs ul li span {
		padding: 0.3em;
	}
	div#subnav ul {
		padding-top: 0.6em;
	}
	div.pagination {
		padding: 0.6em;
	}
	div.item-list-tabs ul {
		border-top: 1px solid #EAEAEA;
		padding-top: 0;
	}
	div.item-list-tabs ul li {
		margin-top: 0;
	}
	form.standard-form #basic-details-section,
	form.standard-form #blog-details-section,
	form.standard-form #profile-details-section {
		float: none;
		width: 100%;
	}
 	.wp-caption {
		width: 99% !important;
 	}
 	.entry {
		width: 100%;
 	}
 	.entry img {
		max-width: 100%;
		height: auto;
 	}
 	.wp-caption img {
		max-width: 99%;
		height: auto;
 	}
	#footer-widget-area div.widget-area > ul {
		float: left;
		width: 100%;
	}
	#footer-widgets {
		padding: 19px 10px;
	}
}


/*--------------------------------------------------------------
3.0 - iPhone
--------------------------------------------------------------*/
@media only screen and (max-width: 320px) {
	ul#nav li {
		float: none;
		width: 100%;
		margin-bottom: 0.6em;
		margin-right: 0;
		margin-left: 0;
	}
       
	ul#nav li:nth-child(even) {
		margin-left: 0;
		margin-right: 0;
	}
	ul#nav li a {
		-moz-border-radius: 0.25em;
		-webkit-border-radius: 0.25em;
		border-radius: 0.25em;
		margin-bottom: 0;
	}
	form#groups-directory-form h3 a {
		display: block;
		margin-top: 0.6em;
	}
	div.post div.author-box,
	div.comment-avatar-box {
		display: none;
	}
	div.post div.post-content,
	div.comment-content {
		margin-left: 0px;
	}
	form#whats-new-form div#whats-new-avatar {
		display:none;
	}
	form#whats-new-form h5 {
		margin: 0 0 0 0px;
	}
	form#whats-new-form #whats-new-content {
		margin-left: 0px;
		padding-left: 0px;
	}
/*	ul#activity-stream.item-list li div.activity-avatar {
		display: none;
	}*/
	body.activity-permalink .activity-list li .activity-content {
		margin-left: 0;
	}
	body.activity-permalink .activity-list li.mini .activity-meta {
		left: 0;
	}
 	div.post .entry {
		width: 100%;
 	}
 	.wp-caption {
		width: 99%!important;
 	}
 	.entry {
		width: 100%;
 	}
 	.entry img {
		width: 100%;
		height: auto;
 	}
 	.wp-caption img {
		width: 99%;
		height: auto;
 	}
 	#footer-widget-area div.widget-area > ul {
		float: left;
		width: 100%;
 	}
 	#footer-widgets {
		padding: 19px 10px;
	}
           
}
