/*--------------------------------------------------------------
Hello, this is the BuddyPress Responsive theme stylesheet

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - iPad
	1.1 - Landscape
	1.2 - Portrait
2.0 - Smartphone
3.0 - iPhone
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.1 - iPad Landscape
--------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
	html {
		background-color: #eaeaea;
	}
	body {
		margin-top: -28px !important;
		background: #eaeaea;
	}
        
        img{max-width:250px;}
        .navbar-collapse{background:#222;}
        #sidebar{display:none;}
        .single-container{width:100%;display:block !important;overflow:hidden;}
        #sidebar-toggle{display:inline; margin-top:6px !important;}
        #toggle-icon{padding:8px;}
        #selected-options{float:left;width:100px;display:none;}
        .single-content{width:100% !important;}
        .sidebar-open{background:#eaeaea !important;}
        #main_search{width:100%;padding:10px;}
        .selected-options-padding{margin-top:4px !important;}
        .navbar > .container .navbar-brand{margin-top:2px !important;}

        
	#wpadminbar {
		display: none;
	}
	div#content .padder {
		margin-right: 0;
		width: auto;
		float: none;
		border: none;
	}
	div#sidebar {
		width: auto;
		float: none;
		margin: 2em 0 0 0;
		border: none;
	}
	ul#nav {
		padding-bottom: 1em;
	}
	ul#nav li {
		width: 46%;
		margin-bottom: 1em;
		margin-right: 0;
	}
	ul#nav li:nth-child(even) {
		margin-left: 3%;
		margin-right: 0;
	}
	ul#nav li a {
		-moz-border-radius: 0.25em;
		-webkit-border-radius: 0.25em;
		border-radius: 0.25em;
		margin-bottom: 0;
	}
	.wp-caption {
		width: 99% !important;
	}
	.entry {
		width: 100%;
	}
	.entry img {
		max-width: 100%;
		height: auto;
	}
	.wp-caption img {
		max-width: 99%;
		height: auto;
	}
	#footer-widgets {
		padding: 19px 10px;
	}
        /*********LG**************************/
        
        .promo_slider_wrapper{display:none;}
        .home-tag-line{width:auto !important;}
        #Members_Feed, #Featured_Content
        {
           margin-right: 0px !important;
           float:left;
           margin-top:0px !important;
           width:100%!important;
           border-radius:0px!important;
           border:none !important;
           
        }
        #Featured_Content{
            padding:0px !important;
            background:#fff!important;
            float:left;
        }
        #Featured_Content h2, #Featured_Content .ico{margin-left:6px;color:#222;}
        
        .activity-bookmark-image{width:160px !important;}
        
        .home-content .tab-post-favourite-group,.home-content .favourite-inspire-posts{
            width:100% !important;
            margin:0px !important;
            border-radius: 0px !important;
        }
       
        .lwa-modal{
            left: 0px !important;
            margin-left: 0px !important;
            width: 100% !important;
            border-radius: 0px;
        }
        .profile-bookmark-image{max-width:100% !important; width:100%;}
        .profile-bookmark-item{width:auto; height:auto;border-radius:0px !important; margin-bottom:10px;}
        .profile-bookmark-image-box{height:auto;width:100% !important}
        
        .navbar-nav{margin:0px -15px;}
        
        .navbar-nav > li > a .fa-2x, .home-page .navbar-nav > li > a .fa-2x {
        margin-top: -5px !important;
        }
        .sidebar-main{display:none;}
        .course-line, .travel-line, .inspire-line, .home-line, .graduatejob-line, .workexperience-line{
            top:51px;
            z-index: 500;
            height: 5px;
        }
        .navbar-inverse .navbar-nav > li > a{color:#fff}
        .navbar-inverse .navbar-toggle  {background:#222} 
        li.course-menu a{color:rgb(36, 176, 255) !important}
        
        div#page-container{overflow:visible;}
        /****************
        ***popout menu***
        http://www.youtube.com/watch?v=m52OcJhaaZU
        ****************/
         .mobile-menu{
             overflow-x:hidden;
             overflow-y:hidden;
             position:relative;
            left:0;
            
        }
        
         .mobile-menu-open {
            left:231px;
            
        }
        
        .mobile-menu-open #sidebar-left.mobile-menu-side{
            left:0;
        }
        
        #sidebar-left.mobile-menu-side{
            background:#333; 
            position:fixed;
            color:#fff;
            top:55px;
            left:-231px;
            width:210px;
            height:100%;
            padding:10px;
            overflow-y:scroll;
            
        }
        
        .mobile-menu-side, .mobile-menu{
             -webkit-transition: left 0.2s ease;
              -moz-transition: left 0.2s ease;
            transition: left 0.2s ease;
        }
        .sidebar-options{background:none;}
        .dtree a{color:#fff;}
        .filter-tab{min-height: 64px;}
        .active-filter h4 {
            color: #FFF;
        }
        .active-filter{background:#333!important;}
        .filter-tab{border-bottom:none; border:none;background:#999;color:#494949}
        /**************************/
        
       
        
        
        
        #main_search{margin:27px auto !important;}
        
        .activepost{width:280px !important;margin-left:-25px !important;background: #fff !important;}
        .activepost h2.posttitle a{color:#222}
        .main-content{width:100%;margin-bottom:20px;}
        
        .padder{padding:5px;}
        
        .post_image img{width:100%}
        .post_image{border-radius:0px !important}
        
        .entry {
		width: 100%;
                display:none !important;
	}
        .item .posttitle{max-height: none;}
        
        #loaded_content .item{
            background:#F7F7F7;
            border-radius:0px;
        }
        h2.pagetitle a, h2.posttitle a{color:#222;font-size:12px;}
        .posttitle{padding-bottom:5px !important;}
        
                    .type-graduate-job  .posttitle{
            background:#fff;
            border-bottom:1px solid orange;
            margin-bottom: 0px;
            }
            .type-work-experience-job  .posttitle{
            background:#fff;
            border-bottom:1px solid rgba(204, 0, 255, 1);
            margin-bottom: 0px;
            }
            .type-course .posttitle{
            background:#f7f7f7;
            border-bottom:1px solid cornflowerblue !important;
            margin-bottom: 0px;
            }
            .type-post .posttitle{
            background:#fff;
            border-bottom:1px solid rgb(10, 221, 187);
            margin-bottom: 0px;
            border-top:1px solid #ccc;
            }
            .type-inspire-posts .posttitle{
            background:#fff;
            border-bottom:1px solid #FFCB05;
            margin-bottom: 0px;
            border-top:1px solid #ccc;
            }
            .wpfp-link .btn{margin-top:5px !important;}
            .close_box{border-radius:0px !important;}
            .isotope-item{width:48%;margin:2px;}
            /****************blog-single page*********************/
            #blog-single{
                margin:0px;
                padding:5px;
                border-radius:0px !important;
            }
            .single_datagrid {
                width: 100%;
                float: left;
                position: relative;
                margin: 0px!important;
                z-index: 5;
             }
             .single-container{
                 margin-top:56px;
             }
             .single_cont{
                 width:100%;
                 float:left;
             }
             /******archive*********/
             .archive_image{
                 max-width:100%;
             }
             .archive-list .entry{
                 visibility:visible !important;
                 display:inline !important;
             }
             #blog-archives .post-content{
               width: 100%;
               padding: 10px;
               border-radius: 0px;
               margin-bottom: 18px;
               border: 1px solid #eaeaea;
             }
             .archive-list{
                 padding-left:0px;
             }
             #single_youtube_player iframe{
                 max-width:100% !important;
             }
             /******activity (main)*********/
             #Profile_Saved_Posts{display:none;}
             
             .activity-list .activity-content {
                margin-left: 0px;
                margin-bottom: 5px;
                background: #fff;
                border-radius: 5px;
                padding: 10px;
                -webkit-box-shadow: 0 0 25px rgba(0,0,0,0.06);
                -moz-box-shadow: 0 0 25px rgba(0,0,0,0.06);
                box-shadow: 0 0 25px rgba(0,0,0,0.06);
                border: 1px solid #eaeaea;
                border-radius:0px;
                }
                #activity-stream {
                    margin-top: 15px;
                    width: 100%;
                    float: left;
                }
                ul.item-list.activity-list li{
                    width:100%;
                }
}


/*--------------------------------------------------------------
1.2 - iPad Portrait
--------------------------------------------------------------*/
@media only screen and (max-width: 640px) {
	div.dir-search {
		float: none;
		margin: 1.25em 0 0;
	}
	ul.item-list li div.action {
		padding-left: 64px;
		position: relative;
		right: auto;
		text-align: left;
		top: 1em;
		margin-bottom: 1.25em;
	}
	.wp-caption {
		width: 99% !important;
	}
	.entry {
		width: 100%;
                display:none;
	}
	.entry img {
		max-width: 100%;
		height: auto;
	}
	.wp-caption img {
		max-width: 99%;
		height: auto;
	}
	#footer-widget-area div.widget-area > ul {
		float: left;
		width: 100%;
	}
	#footer-widgets {
		padding: 19px 10px;
	}
}


/*--------------------------------------------------------------
2.0 - Smartphone (any)
--------------------------------------------------------------*/
@media screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
	-webkit-text-size-adjust: none;
}

@media only screen and (max-width: 480px) {
	body {
		width: 100%;
		margin: 0;
	}
	#container {
		border: none;
	}
	div.item-list-tabs ul li {
		float: none;
		margin: 0.3em 0.6em;
		background:none;
	}
	div.item-list-tabs ul li.last {
		float: none;
		margin: 0.3em 0.6em;
	}
	div#subnav.item-list-tabs ul li.last {
		margin-top: 1em;
	}
	div.item-list-tabs ul li.selected,
	div.item-list-tabs ul li.current {
		margin: 0.3em 0.6em;
	}
	div.item-list-tabs ul li.selected a,
	div.item-list-tabs ul li.current a {
		background: #eee;
		font-weight: bold;
	}
	div.item-list-tabs {
		background: none;
	}
	div.item-list-tabs ul li:first-child {
		margin: 0.6em 0.6em 0.5em 0.6em;
	}
	div.item-list-tabs ul li a,
	div.item-list-tabs ul li span {
		padding: 0.3em;
	}
	div#subnav ul {
		padding-top: 0.6em;
	}
	div.pagination {
		padding: 0.6em;
	}
	div.item-list-tabs ul {
		border-top: 1px solid #EAEAEA;
		padding-top: 0;
	}
	div.item-list-tabs ul li {
		margin-top: 0;
	}
	form.standard-form #basic-details-section,
	form.standard-form #blog-details-section,
	form.standard-form #profile-details-section {
		float: none;
		width: 100%;
	}
 	.wp-caption {
		width: 99% !important;
 	}
 	.entry {
		width: 100%;
 	}
 	.entry img {
		max-width: 100%;
		height: auto;
 	}
 	.wp-caption img {
		max-width: 99%;
		height: auto;
 	}
	#footer-widget-area div.widget-area > ul {
		float: left;
		width: 100%;
	}
	#footer-widgets {
		padding: 19px 10px;
	}
}


/*--------------------------------------------------------------
3.0 - iPhone
--------------------------------------------------------------*/
@media only screen and (max-width: 320px) {
	ul#nav li {
		float: none;
		width: 100%;
		margin-bottom: 0.6em;
		margin-right: 0;
		margin-left: 0;
	}
	ul#nav li:nth-child(even) {
		margin-left: 0;
		margin-right: 0;
	}
	ul#nav li a {
		-moz-border-radius: 0.25em;
		-webkit-border-radius: 0.25em;
		border-radius: 0.25em;
		margin-bottom: 0;
	}
	form#groups-directory-form h3 a {
		display: block;
		margin-top: 0.6em;
	}
	div.post div.author-box,
	div.comment-avatar-box {
		display: none;
	}
	div.post div.post-content,
	div.comment-content {
		margin-left: 0px;
	}
	form#whats-new-form div#whats-new-avatar {
		display:none;
	}
	form#whats-new-form h5 {
		margin: 0 0 0 0px;
	}
	form#whats-new-form #whats-new-content {
		margin-left: 0px;
		padding-left: 0px;
	}
	ul#activity-stream.item-list li div.activity-avatar {
		display: none;
	}
	body.activity-permalink .activity-list li .activity-content {
		margin-left: 0;
	}
	body.activity-permalink .activity-list li.mini .activity-meta {
		left: 0;
	}
 	div.post .entry {
		width: 100%;
 	}
 	.wp-caption {
		width: 99%!important;
 	}
 	.entry {
		width: 100%;
 	}
 	.entry img {
		width: 100%;
		height: auto;
 	}
 	.wp-caption img {
		width: 99%;
		height: auto;
 	}
 	#footer-widget-area div.widget-area > ul {
		float: left;
		width: 100%;
 	}
 	#footer-widgets {
		padding: 19px 10px;
	}
}