/**
 * PETER RIVER PRESET
 *
 * @package Klein
 * @since 1.0
 *
 */
 
.bx-wrapper .bx-controls-direction a,
.bbp-pagination-links span.current,
.woocommerce span.onsale,.woocommerce-page span.onsale,.woocommerce .widget_layered_nav ul li,.woocommerce-page .widget_layered_nav ul li,.woocommerce ul.products li.product .onsale,.woocommerce-page ul.products li.product .onsale,.item-list-tabs li a,.activity-type-tabs li a {
    background: #3498DB;
}

a {
    color: #2980B9;
}

.desktop-menu ul.sub-menu li a:hover,.desktop-menu ul.children li a:hover {
    background: #333;
}

.widget-title {
    border-bottom: 1px solid #2980B9;
    color: #2980B9;
}

#footer {
    background: #2980B9;
}

.item-list-tabs li a span:after {
    border-top-color: #34495E;
}

#klein-top-updates-badge {
    background: #E74C3C;
}

#klein-top-updates-badge:after {
    border-top-color: #E74C3C;
}


.desktop-menu ul.sub-menu > li > ul.sub-menu > li:first-child:before,.desktop-menu ul.children > li > ul.children > li:first-child:before {
    border-right-color: #222;
}

.desktop-menu ul.sub-menu li:first-child:before,.desktop-menu ul.children li:first-child:before {
    border-bottom-color: #222;
}

.desktop-menu ul.sub-menu li a,.desktop-menu ul.children li a,#header,.woocommerce .widget_price_filter .ui-slider .ui-slider-range,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range,#footer-widgets {
    background: #222;
}


a.fp-controls,.front-page-highlights-nav-left,
span.page-numbers,
a.page-numbers,#bp-klein-top-bar {
    background: #3498DB;
    border-bottom: 5px solid #2980B9;
}

.front-page-highlights-nav-right,
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item{
	background: #3498DB;
	border-bottom: none;
}
.bx-wrapper .bx-pager .bx-pager-item:first-child{
	border-radius: 5px 0px 0 5px;
}
.bx-wrapper .bx-pager .bx-pager-item:last-child{
	border-radius: 0px 5px 5px 0px;
}

span.page-numbers,a.page-numbers,.front-page-highlights-nav-left,.front-page-highlights-nav-right,.bx-wrapper .bx-pager .bx-pager-item,.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    border-right: 1px solid #2980B9;
}

.woocommerce .widget_layered_nav ul small.count,.woocommerce-page .widget_layered_nav ul small.count,.bx-wrapper .bx-pager.bx-default-pager a:hover,.bx-wrapper .bx-pager.bx-default-pager a.active,.item-list-tabs li.selected a,.item-list-tabs li.current a,.activity-type-tabs li.selected a {
    background: #2980B9;
}

.woocommerce ul.cart_list li dl,.woocommerce-page ul.cart_list li dl,.woocommerce ul.product_list_widget li dl,.woocommerce-page ul.product_list_widget li dl {
    border-left: 1px solid #BDC3C7;
}

.woocommerce .widget_shopping_cart .total,.woocommerce-page .widget_shopping_cart .total {
    border-top: 1px solid #BDC3C7;
}

.widget,.widget a {
    color: #2C3E50;
}

#footer-widgets .widget,#footer-widgets .widget a {
    color: #ECF0F1;
}

.woocommerce .widget_layered_nav ul small.count,.woocommerce-page .widget_layered_nav ul small.count,.widget.widget_bp_groups_widget a,.widget.widget_bp_groups_widget,.widget.widget_bp_core_members_widget a,.widget.widget_bp_core_members_widget {
    color: #ECF0F1;
}

.widget {
    background: #ECF0F1;
    border-bottom: none;
}

#front-page-widgets-section-a .widget-title {
    color: #ECF0F1;
}

.widget.widget_bp_groups_widget .widget-title a,
.widget.widget_bp_core_members_widget .widget-title a{
	color: #222;
}


#whats-new:focus {
    border: 2px solid #3498DB;
}

.entry-content-thumbnail-zoom {
    background: #3498DB;
}

.widget_layered_nav li a {
    color: #ECF0F1;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
    background: #2980B9;
    border: 1px solid #2980B9;
}

.woocommerce .woocommerce-pagination li a.page-numbers:hover,.woocommerce .woocommerce-pagination li span.page-numbers.current:hover,.woocommerce .widget_price_filter .ui-slider .ui-slider-range,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
    background: #3498DB;
}

.item-list-tabs li.loading{
	background: #2980B9;
}
.item-list-tabs li.loading a{
	background: url(../../images/preloaders/bp_loader_peter_river.gif) no-repeat #2980B9 right center !important;
}
/*
 * Mobile Navigation
 * 
 * Added @version 2.0.7
 * @package klein
 * @version 2.0.7
 * */
.menu.mobile li a{
	background: #3498DB;
	
}
.menu.mobile .sub-menu li a:hover,
.menu.mobile li a:hover{
	background: #3498DB;
}
.menu.mobile .sub-menu li a,
.menu.mobile li a .sub-menu-toggle
{	
	background: #2980B9;
}
.menu.mobile li a {
	border-bottom: 1px solid #2980B9;
}