.flexslider .slides img{
	height: auto;
}

.wpb_heading{
	font-size: 22px;
}
.wpb_content_element, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button{
	margin-bottom: 20px;
}
/*= Tabs
	------------- */
.wpb_content_element .wpb_tabs_nav li{
	background-color: #ECF0F1;
}	
	.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab{
		background-color: transparent;
	}
	.klein-carousel-standard{
		display: none;
	}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: none;
	background: #ECF0F1;
	font-weight: bold;
	color: #0073EA;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: #E74C3C;
	text-decoration: none;
}

.wpb_content_element .wpb_tabs_nav li a.ui-tabs-anchor{
	font-weight: bold;
}
/*= Teaser Grid
	------------- */

.wpb_teaser_grid ul li .post-thumb img{
	width: 100%;
	height: auto;
}

.wpb_teaser_grid .post-title{
	font-size: 14px;
	margin-top: 20px;
}

.wpb_teaser_grid.wpb_carousel .prev,
.wpb_teaser_grid.wpb_carousel .next {
	font-size: 20px;
	padding: 8px 10px 10px 10px;
	z-index: 999;
	color: #ECF0F1;
	background: #1ABC9C;
}

.wpb_carousel .prev {
	right: 42px;
}


/*= Separator
	---------- */
.wpb_separator, .vc_text_separator{
	margin: 40px 0;
	padding: 0.5px;
	background: #BDC3C7; /* for non-css3 browsers */
	background: -webkit-gradient(linear, 0 0, 100% 0, from(#fff), to(#fff), color-stop(50%, #BDC3C7));
	background: -moz-linear-gradient(top left,  #fff,  #BDC3C7, #fff); /* for firefox 3.6+ */
}

	::i-block-chrome,.vc_text_separator, .wpb_separator{
		padding: 1px;
    }
/*= Call To Action
	----------- */
.wpb_call_text{
	font-size: 14px;
}

.wpb_call_to_action{
	background-color: #ECF0F1;
	border: 1px solid #BDC3C7;
}

/*= Widgets 
	---------- */
	
.widgettitle{
	position: absolute;
	font-size: 14px;
	display: inline-block;
	line-height: 1.3em;
	margin: 0px 0 20px;
	margin-left: -20px;
	margin-top: -20px!important;
	border-bottom: 1px solid #16A085;
	width: 100%;
	font-weight: bold;
	text-transform: uppercase;
	padding: 20px;
	max-height: 70px;
	overflow: hidden;
}	

.widgettitle + *{
	display: block;
	clear: both;
	margin-top: 60px;
}

.widget_nav_menu .widgettitle,
.widget_calendar .widgettitle{
	position: relative;
	border-bottom: none;
	margin-bottom: 0px;
}

.widget_nav_menu .widgettitle + *,
.widget_calendar .widgettitle + *{
	margin-top: 0px;
}

/*= Members 
	---------------- */
.bp-members-grid-item,	
.bp-members-list-item,	
.bp-groups-list-item,	
.bp-groups-grid-item{
	list-style: none;
	padding: 0;
	margin-left: 0;
}
.bp-groups-grid-item img.avatar,
.bp-members-grid-item img.avatar{
	width: 100%;
	height: auto;
}
.bp-groups-list-item img.avatar,
.bp-members-list-item img.avatar{
	height: auto;
}

.bp-groups-grid li.bp-groups-grid-item,
.bp-members-grid li.bp-members-grid-item{
	margin-left: 0;
	padding: 0px 20px 0px 0px;
}
.bp-members-grid li.carousel-item img.avatar{
	width: 100%;
	height: auto;
	padding: 2px;
	border: 1px solid #ECF0F1;
}
.bp-members-grid li.carousel-item img.avatar:hover{
	opacity: 0.75;
	position: relative;
	top: -1px;
}
.bp-members-grid-item{
	list-style: none;
}
.bp-groups-list-item,
.bp-members-list-item{
	border: 1px solid #ECF0F1;
}

.hentry .bp-members-list-item img, 
.hentry .bp-groups-list-item img, 
.entry-content .bp-members-list-item img,
.entry-content .bp-groups-list-item img{
	width: 25%;
}
.bp-groups-list-item .col-md-3,
.bp-groups-list-item .col-md-3,
.bp-members-list-item .col-md-3,
.bp-members-list-item .col-md-9{
	padding: 0;
	display: inline-block;
}
.bp-groups-list-item .col-md-9,
.bp-members-list-item .col-md-9{
	margin-left: 10px;
	margin-right: -10px;
}
.bp-groups-list-item .col-md-9 h5,
.bp-members-list-item .col-md-9 h5{
	margin-bottom: 0.5em;
	margin-top: 1em;
	font-size: 14px;
}
.vc_span3 .bp-members-list-item .col-md-9 h5{
	margin-bottom: 0.25em;
	margin-top: 0.5em;
	font-size: 11px;
}
.vc_span3 .bp-members-list-item .activity{
	font-size: 11px;
}

/*= Accordion
----------------------- */
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header, .wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
	background-color: #ECF0F1;
}