.btn-primary:hover:not(.btn-link):not(.btn-flat) {
  background-color: #42A5F5; }

.image-box {
  padding: 0px;
  overflow: hidden;
  height: 85px; }
  .image-box p {
    margin-top: -10px; }

h2.how-it-works-title {
  margin-top: 5px; }

.circular {
  height: 100px !important; }

.material-icons.large-arrow {
  font-size: 32px !important; }

.img.col-md-1.text-center {
  margin-top: 2%; }

#section0 {
  margin-top: -62px;
  overflow: hidden;
  background-color: #fff !important; }
  #section0 h1 {
    font-size: 32px; }
  #section0 h2 {
    font-size: 22px; }
  #section0 .col-md-3 h2 {
    font-size: 1.8rem; }
  #section0 .row1 {
    background: url(../images/header.jpg);
    height: 75vh;
    background-size: cover;
    background-position: center;
    background-position: bottom;
    margin-top: 0vh;
    padding-top: 12vh; }
    #section0 .row1 h1 {
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
      width: 100vw;
      padding-left: 2vw;
      margin-top: 5px; }

.btn-primary.btn-next.btn.btn-submit {
  font-size: 16px; }

#fp-nav.right {
  right: 3px; }

.container.slide1content {
  width: 80vw;
  text-align: left;
  margin-top: -54vh;
  height: 80vh; }
  .container.slide1content h1 {
    font-size: 28px;
    color: #444; }
  .container.slide1content h2 {
    font-size: 1.8rem;
    color: #444; }
  .container.slide1content p {
    font-size: 1.4rem;
    color: #36373E; }

span.highlight {
  color: #FF4081;
  font-weight: 600; }

.box-container:hover {
  background: #9ED4C9;
  cursor: pointer; }

.box-active {
  border-bottom: 2.5px solid #FF4081 !important;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.animated {
  visibility: hidden; }

.animated.go {
  visibility: visible; }

#section1 a.btn-primary.btn-next.btn.btn-scroll-down {
  margin-top: 50px !important; }

fp-slidesNav {
  display: none; }

.fp-slidesNav.show {
  display: inline; }

.box-container {
  background: #f9f9f9; }

.box-container.btn.btn-sup {
  padding: 0px 0px !important;
  padding-bottom: 3px !important;
  width: 91% !important;
  height: 86% !important;
  margin: 0px 0px !important; }

.nowhere {
  color: #C2C2C2;
  margin-top: 5px;
  display: inline-block;
  border: 1px solid #eaeaea;
  padding: 3px;
  margin-right: 5px; }

.spacey {
  height: 30px; }

.interest-row {
  background: #fff;
  color: #666; }

.map-selector {
  width: 600px;
  max-width: 100%;
  margin-top: 10px; }

.welcome-row {
  background: #52c1ae;
  color: #fff;
  padding-bottom: 15px; }

.location-row {
  /*        background: #52C1AE; color:white;*/
  background: #F2F2F2; }

.degree-row {
  /*        background: #52c1ae; color:#fff;*/
  background: #fff; }

.box-image {
  cursor: pointer;
  height: 85%; }

.btn.box-container .check {
  display: none; }

.background-white {
  background: #fff;
  position: relative;
  z-index: 2;
  display: inline-block;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.84);
  background: #fff;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.image-box {
  z-index: 2;
  height: 103px; }

.check {
  position: absolute;
  right: 12px; }

#selection {
  height: 20px;
  color: #FF4081; }

.next-action {
  padding: 20px; }

.navbar .menu-item {
  display: none; }

#wp-toolbar {
  display: none; }

#map {
  z-index: 3;
  overflow: hidden;
  margin: -20px auto -35px auto;
  position: relative !important;
  width: auto !important;
  height: 65vh !important;
  overflow: hidden;
  left: auto !important;
  top: auto !important; }
  #map svg {
    display: inline-block;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.84);
    background: #fff;
    padding: 15px;
    width: 62vh;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.btn-custom {
  background-color: #616161 !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#707070", endColorstr="#606060");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#707070), to(#606060));
  background-image: -moz-linear-gradient(top, #707070, #606060);
  background-image: -ms-linear-gradient(top, #707070, #606060);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #707070), color-stop(100%, #606060));
  background-image: -webkit-linear-gradient(top, #707070, #606060);
  background-image: -o-linear-gradient(top, #707070, #606060);
  background-image: linear-gradient(#707070, #606060);
  border-color: #606060 #606060 #5d5d5d;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
  -webkit-font-smoothing: antialiased; }

.btn-next {
  background-color: #44A897;
  border-color: #44A897; }

.btn-degree {
  font-size: 23px;
  color: #4f4f4f;
  width: 90px;
  height: 90px;
  margin-right: 2px; }

.btn-next:hover, .btn-next:focus, .btn-next:active, .btn-next.active, .open .dropdown-toggle.btn-next {
  background-color: #44A897;
  border-color: #44A897; }

.select2-container {
  width: 100%; }

.btn-degree:hover, .btn-degree:focus, .btn-degree:active, .btn-degree.active, .open .dropdown-toggle.btn-degree {
  color: #fff;
  background-color: #52c1ae;
  border-color: #52c1ae; }

.arrow-down {
  display: none; }

.tag-selected {
  margin-top: 5px;
  display: inline-block;
  color: #fff;
  background-color: #FF4081;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 2px;
  margin-right: 5px; }

.how-to {
  margin-left: 5.5vh; }

.select2-container-multi .select2-choices .select2-search-choice {
  color: #fff;
  background: #44a897;
  border-color: #cccccc;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 30px;
  padding-top: 7px;
  padding-right: 8px; }

/*.image-box:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:15;
    background:rgba(82, 193, 174,0.3);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image-box:hover:after {
    opacity:1;
}*/
@media (max-width: 782px) and (min-width: 481px) {
  .navbar-form.navbar-left {
    display: none !important; }
  body {
    padding-top: 18px !important; } }

.navbar-toggle {
  display: none; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 100px) and (max-width: 767px) {
  #section0 h2 {
    font-size: 18px !important;
    padding-left: 15px;
    padding-right: 15px; }
  #section0 .col-md-3 h2 {
    font-size: 13px !important; }
  #section0 hr {
    margin-top: 8px;
    margin-bottom: 8px; }
  #section0 .slide1content p {
    font-size: 12px !important;
    margin-bottom: 0px; }
  .container.slide1content {
    margin-top: -53vh !important; }
  .background-white {
    width: 98% !important; }
  .slide1content .arrow-right {
    display: none; }
  .slide1content .arrow-down {
    display: block;
    margin-bottom: -2.3vh;
    margin-top: -0.5vh; }
  .slide1content .btn-primary:not(.btn-link):not(.btn-flat) {
    font-size: 16px; } }

@media only screen and (min-width: 100px) and (max-width: 991px) {
  .material-icons.icon-large {
    font-size: 26px;
    color: #555;
    margin-bottom: -2vh; }
  .how-to {
    margin-left: 0vh;
    margin-top: -2vh;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 15px; }
    .how-to h2.how-it-works-title {
      font-size: 13px !important;
      font-weight: 500;
      margin-top: 0px;
      margin-bottom: 3px; }
  #section0 .row1 h1 {
    font-size: 26px; }
  #section0 h1 {
    font-size: 22px; }
  .container.slide1content {
    margin-top: -56vh; }
  .slide1content p {
    font-size: 13px !important; }
  .slide1content .arrow-right {
    display: none; }
  .slide1content .arrow-down {
    display: block; } }

@media only screen and (min-width: 100px) and (max-width: 480px) {
  .slide1content .arrow-down {
    font-size: 18px !important; }
  h2 .material-icons.icon-large {
    font-size: 18px !important; } }

@media only screen and (min-width: 100px) and (max-width: 480px) {
  #section1 a.btn-primary.btn-next.btn.btn-scroll-down {
    margin-top: 10vh !important; }
  .to-next-step {
    margin-top: 10%; }
  #map {
    height: 55vh !important; }
    #map svg {
      width: 45vh; }
  /* Styles */
  .navbar-form.navbar-left {
    display: none !important; }
  h2.margin-b {
    margin-bottom: 20px;
    margin-top: 35px; }
  #fullpage {
    margin-top: -20px; }
  .image-box {
    height: 85px !important; }
  #selection, .spacey {
    display: none; }
  #section3 {
    padding-top: 5px !important; }
  #map {
    margin-top: 5px; }
  .tag-selected {
    font-size: 10px; }
  .btn-next {
    font-size: 12px; }
  .image-box p {
    padding-top: 5px;
    font-size: 10px !important; }
  .navbar-form {
    display: none; }
  .btn.box-container {
    padding: 0px;
    width: 90%; }
    .btn.box-container .check {
      display: none; } }

#section1 h2 {
  margin-top: 5vh !important; }

#section3 h2 {
  margin-top: 2vh !important; }

@media only screen and (min-width: 300px) and (max-height: 570px) {
  #section0 p {
    display: none; }
  #section0 .row1 h1 {
    padding-left: 5vh;
    margin-top: 15px; }
  .container.slide1content {
    margin-top: -48vh !important; } }

@media only screen and (min-width: 100px) and (max-width: 330px) and (max-height: 480px) {
  #section1 a.btn-primary.btn-next.btn.btn-scroll-down {
    margin-top: 10% !important; }
  #section0 h2.icon-title {
    display: none; }
  #section0 p {
    display: none; }
  #section0 div#slide1 {
    margin-bottom: 0px;
    padding-top: 0px; }
  #section0 .row1 h1 {
    padding-left: 5vh;
    margin-top: 15px; }
  #section3 .to-next-step {
    display: block !important;
    padding-top: 0px;
    padding-bottom: 0px; }
  .container.slide1content {
    margin-top: -48vh !important; }
  .to-next-step {
    margin-top: 1%; } }

@media only screen and (max-width: 331px) and (max-height: 481px) {
  #section1 a.btn-primary.btn-next.btn.btn-scroll-down {
    display: none; }
  .to-next-step {
    display: none; } }

#section3 {
  padding-top: 16px; }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .background-white {
    width: 70% !important; }
  /* Styles */
  .box-image {
    cursor: pointer; }
  #selection, .spacey {
    display: none; }
  svg {
    height: 60vh !important; } }

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
  #selection, .spacey {
    display: none; } }

@media only screen and (min-width: 991px) and (max-width: 1280px) {
  #selection {
    left: 35vw !important; } }

/**small laptop screen**/
@media only screen and (min-width: 550px) and (max-width: 1280px) {
  /* Styles */
  .background-white {
    width: 38%; }
  #selection, .spacey {
    display: inline-block; }
  #selection {
    display: inline-block;
    position: absolute;
    left: 31vw;
    top: 25vh;
    z-index: 4;
    width: 20vh; }
  svg {
    height: 60vh !important;
    margin-top: 20px; }
  #section3 .fp-section.active .text-center {
    margin-top: -20px; }
  #section3 h1, #section3 .h1, #section3 h2, #section3 .h2, #section3 h3, #section3 .h3 {
    margin-top: 0px; }
  #section3 .container {
    margin-bottom: -20px; } }

.fp-section {
  overflow-x: hidden; }

div#slide1 {
  margin-bottom: -15px;
  padding-top: 16px; }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1281px) {
  /* Styles */
  .background-white {
    width: 50%; }
  .box-image {
    cursor: pointer; }
  .section {
    padding-top: 20px; }
  #selection, .spacey {
    display: inline-block; }
  #selection {
    display: inline-block;
    position: absolute;
    left: 5%;
    top: 18%; }
  svg {
    height: 60vh !important; } }

/**Between Laptop and Tablet**/
@media only screen and (min-width: 1024px) and (max-width: 1224px) {
  /* Styles */
  .box-image {
    cursor: pointer; }
  .section {
    padding-top: 20px; }
  #selection, .spacey {
    display: inline-block; }
  #selection {
    display: inline-block;
    position: absolute;
    left: 66vh;
    top: 22vh;
    z-index: 4;
    width: 20vh; }
  svg {
    height: 60vh !important; } }

#pagi-menu li {
  display: inline-block;
  margin: 10px;
  color: #000;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

#pagi-menu li.active {
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  color: #fff; }

#pagi-menu li a {
  text-decoration: none;
  color: #000; }

#pagi-menu li.active a:hover {
  color: #000; }

#pagi-menu li:hover {
  background: rgba(255, 255, 255, 0.8); }

#pagi-menu li a,
#pagi-menu li.active a {
  padding: 9px 18px;
  display: block; }

#pagi-menu li.active a {
  color: #fff; }

#pagi-menu {
  position: fixed;
  bottom: 30px;
  left: 0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0; }

.navbar .container {
  width: 100% !important; }

.btn-scroll-left, .btn-scroll-right {
  background: #eaeaea !important;
  background-image: none;
  color: #666 !important;
  border: none; }

.navbar .form-control.col-lg-8, .navbar .fa-search {
  display: none; }

body {
  padding-top: 30px; }

.image-box p {
  margin-bottom: 0px !important;
  font-size: 14px; }

.navbar-inverse.navbar {
  background-color: #1976D2;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
